body {
 background-color: rgb(237, 237, 237);

}
   
.typewriter h1 {
    padding-top: 15pxß;

}

.container {
    background-color: #E6D8CE;
    margin: 0;
    padding: none;
    position: flex;

}

.nav {
    font-size: 20px;
    color: black;
    display: flex;
    float: right;
    list-style: none;
    list-style-type: none;
    margin: 0;
    margin-top: -50px;
    margin-left: 10px;
    padding-left: 10px;
    padding: 10px;
    padding: 0;
    text-decoration: none;
    
}

.brand {
    position: top;
    color: black;
    display: flex;
    padding-top: 25px;
    padding-left: 10px;

}